# Telegram Bot Framework
aiogram==3.13.1

# Database
aiosqlite==0.20.0

#  Redis
redis==5.2.1

# Scheduler
APScheduler==3.10.4
apscheduler[redis]

# Config
pydantic-settings==2.6.1

# Timezone / date utils
pytz==2024.2
python-dateutil==2.9.0

#  Voice recognition (OpenAI Whisper)
openai==1.54.4

# Logging / misc
colorlog==6.9.0
